* {
  list-style-type: none;
}

.App {
  text-align: center;
  background-color: #dcdcdc;
  height: 100vh;
}

.btn {
  display: flex;
  justify-content: center;
}

.img {
  height: 40vh;
}

.search {
  width: 100vw;
}
